
.header-container {
    width:100vw;
    height:4vh;
    max-height:4vh;
    background:#222222;
}

.social-bar {
    width:80vw;
    height:4vh;
    max-height:4vh;
    background:#222222;
    color: #a6a6a6;
    margin:0 auto;
    text-align:right;
}

.social-icons {
    float:right;
}

.social-bar-icons {
    display:inline-block;
    height:100%;
    float:right;
}

.social-icons{
height:100%;
display:inline-block;
margin: 0 auto;
font-size: 2.2vh;
}

.phone-number {
float:right;
display:inline-block;
margin: 0 auto;
position:relative;
top:50%;
transform: translateY(-50%);
font-size: 2.2vh;
padding-left: 2.2vh;
} 

.address {
float:right;
display:inline-block;
margin: 0 auto;
position:relative;
top:50%;
transform: translateY(-50%);
font-size: 2.2vh;
padding-left: 2.2vh;
}

.fab {
position:relative;
top:50%;
transform: translateY(-50%);
padding-left: 2vh; 
}

a{
    text-decoration:none;
}

.social-icons a{
    color: #a6a6a6;
    }

    .menu-bar {
        width:100vw;
        height:12vh;
        max-height:12vh;
        background:#222222;
    }
    
    .menu-bar-items {
        width:80vw;
        height:12vh;
        max-height:12vh;
        background:#222222;
        color: #a6a6a6;
        margin:0 auto;
        text-align:right;
    }

.logo {
    height: 6vh;
    width: 35vh; 
    float: left;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.logo img{
    height: 6vh;
    width: 35vh; 
}

.nav {
    height: 8vh;
    width:70vh; 
    float: right;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.nav-links{
    display:inline-block;
    float:right;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.nav a{
    transform: translateY(-50%);
    text-decoration:none;
    color: #a6a6a6;
    padding-left: 2.5vh;
    font-size: 2.4vh;
}

